@font-face {
  font-family: 'icons';
  src:  url('../iconsfont/');
  src:  url('../iconsfont/#iefix') format('embedded-opentype'),
    url('../iconsfont/fonts/icons.ttf?eqk01b') format('truetype'),
    url('../iconsfont/fonts/icons.woff?eqk01b') format('woff'),
    url('../iconsfont/fonts/icons.svg?eqk01b#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #fff;
  margin-left: 18px;
  display: inline-block;
  transform: translateX(0px);
  transition: all 0.3s ease 0s;
}
.icon-fb:before {
  content: "\e901";
  color: #5d2de3;
  border: 2px solid #5d2de3;
  font-size: 24px;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
}
.icon-inst:before {
  content: "\e902";
  color: #5d2de3;
  border: 2px solid #5d2de3;
  font-size: 24px;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
}
.icon-telegram:before {
  content: "\e903";
  color: #5d2de3;
  border: 2px solid #5d2de3;
  font-size: 24px;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
}
.icon-fb:hover:before,
.icon-inst:hover:before,
.icon-telegram:hover:before {
  background: #5d2de3;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

