* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
	border: none;
}
a {
  text-decoration: none;
	color: #323232;
}
img {
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul {
	padding: 0;
}
li {
  list-style: none;
}
body {
	background: rgb(0,1,31);
	background: linear-gradient(90deg, rgba(0,1,31,1) 0%, rgba(0,0,0,1) 100%);
	font-family: 'Century Gothic';
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
body.lock {
	overflow: hidden;
}
/*------------------- Body style ----------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}


._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

/*------------------ Menu style -------------------------*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: rgb(0,1,31);
	background: linear-gradient(90deg, rgba(0,1,31,1) 0%, rgba(0,0,0,1) 100%);
}
.header__container {
	margin: 0 auto;
	display: flex;
	padding: 0 15px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__mobile {
	z-index: 20;
	a {
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		&:hover {
			color: #5D2DE3;
		}
	}
}
.menu__icon {
	display: none;
}
.menu__list {
	display: flex;
}
.menu__list > li {
 position: relative;
 margin: 0px 0px 0px 30px;
}
.menu__link {
	color: #fff;
  margin: 15px 0 15px 20px;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 130%;
	padding-bottom: 10px;
  position: relative;
  -webkit-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}
.menu__link::after {
  display: block;
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.3s ease all .1s;
  transition: 0.3s ease all .1s;
}
.menu__link:hover {
	color: #5D2DE3;
}
.menu__link:hover::after {
  width: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
	background-color: #5D2DE3;
}


/*----------------- Hero section ------------------*/
.page__section_1 {
	height: 100vh;
	position: relative;
} 
.gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(1,2,31);
	background: linear-gradient(180deg, rgba(1,2,31,0.3) 0%, rgba(1,2,31,0.75) 100%);
}
.hero__section {
	background: url(../img/main-bg.jpg) no-repeat top / cover;
}
.hero__container {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.hero__offer {
	z-index: 5;
	padding: 100px 0 40px;
	.hero-title {
		font-weight: bold;
		font-size: 78px;
		line-height: 65px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		line-height: 120%;
		margin-bottom: 7%;
		span {
			color: #5D2DE3;
		}
	}
	.text {
		font-weight: normal;
		font-size: 20px;
		line-height: 130%;
		margin-bottom: 7%;
		max-width: 368px;
		margin-left: 20%;
	}
	.btn {
		display: inline-block;
		font-size: 22px;
		line-height: 140%;
		text-transform: uppercase;
		color: #fff;
		background: linear-gradient(137deg, rgb(74, 41, 165) 0%, rgba(98,52,227,1) 100%);
		border: 1px solid #6234E3;
		border-radius: 44px;
		padding: 20px 58px;
		margin-left: 20%;
		transition: all 0.3s ease 0s;
		&:hover {
			background: linear-gradient(137deg, rgb(64, 35, 145) 0%, rgb(87, 46, 201) 100%);
			color: #fff;
			box-shadow: 0px 3px 15px rgba(93, 45, 227, 0.3);
		}
	}
}
.hero__social {
	display: flex;
	position: absolute;
  right: 15px;
	justify-content: end;
	margin-top: 25px;
	a{
		margin-left: 26px;
	}
}


/*----------------- Кто я для вас ------------------*/

.about__body{
	display: flex;
	padding: 60px 0;
}
.about__photo {
	max-width: 100%;
	flex: 1 0 40%;
}
.about__description {
	margin-left: 55px;
	margin-top: 7%;
	.icon-arrow:before {
		color: #5D2DE3;
	}
}
.about__description .icon-arrow {
	color: #5D2DE3;
}
.about__title {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 85px;
}
.about__sub-title {
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.05em;
	margin-bottom: 30px;
}
.about__list {
	margin-bottom: 68px;
}
.about__list {
	li{
		margin-bottom: 15px;
		display: flex;
    align-items: center;
		img{
			width: 22px;
			margin-right: 16px;
		}
	}
}
.btn {
	display: inline-block;
	font-size: 22px;
	line-height: 140%;
	text-transform: uppercase;
	color: #5D2DE3;
	background: rgba(85,48,191, 0.1);
	border: 1px solid #6234E3;
	border-radius: 44px;
	padding: 20px 58px;
	transition: all 0.3s ease 0s;
	&:hover {
		background: linear-gradient(137deg, rgb(64, 35, 145) 0%, rgb(87, 46, 201) 100%);
		color: #fff;
		box-shadow: 0px 3px 15px rgba(93, 45, 227, 0.3);
	}
}

/*----------------- Специализация ------------------*/

.specialization__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px 0;
}
.specialization__info {
	flex: 1 0 45%;
	margin-right: 15px;
}
.specialization__title {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 65px;
}
.specialization__list {
	margin-bottom: 65px;
	li{
		margin-bottom: 15px;
		display: flex;
    align-items: center;
		img{
			width: 22px;
			margin-right: 16px;
		}
	}
}
.specialization__social {
	display: flex;
	a {
		margin-right: 75px;
	}
}
.specialization__sub-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 22px;
}
.specialization__icon {
	width: 22px;
	height: 22px;
}
.specialization__images {
	display: flex;
}


/*----------------- Как это работает ------------------*/
.principles__section {
	background: url(../img/principles-bg.jpg) no-repeat center / cover;
	box-shadow:  100vw 0 0  rgba(0, 0, 0, 0.7) inset;
	padding: 110px 0 75px;
}

.principles__title {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 65px;
	text-align: center;
}
.principles__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.principles__item {
	display: flex;
	align-items: center;
	max-width: 380px;
	margin-bottom: 70px;
}
.principles__block-text {
 margin-left: 20px;
}
.principles__icon {
	font-weight: bold;
	font-size: 50px;
	line-height: 25px;
	padding: 35px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #5D2DE3;
	background: rgba(93, 45, 227, 0.1);
	text-align: center;
	transition: all 0.2s ease 0s;
	&:hover {
		background: rgba(93, 45, 227, 0.5);

	}
}
.principles__sub-title {
	font-weight: bold;
	font-size: 26px;
	line-height: 130%;
	margin-bottom: 10px;
}
.principles__text {
	font-size: 18px;
	color: #999;
	line-height: 25px;
}

/*----------------- Цены на услуги ------------------*/
.price__section {
	padding: 60px 0;
}
.price__title {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 65px;
}
.price__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.price__column {
	width: 260px;
	margin: 15px;
}
.price__item {
	padding: 40px 50px;
	text-align: center;
	background: rgba(93, 45, 227, 0.1);
	border: 1px solid #5D2DE3;
	box-sizing: border-box;
	border-radius: 15px;
	height: 100%;
}
.item__price {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 15px;
}
.item__text {
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 29px;
	color: rgb(209, 209, 209);
	border-bottom: 1px solid #5D2DE3;
}
.item__text_grey {
	font-size: 14px;
	line-height: 20px;
	color: #A4A4A4;
	margin-bottom: 10px;
}
.popup-btn {
	display: block;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 12px 35px;
	background: rgba(93, 45, 227, 0.1);
	border: 1px solid #5D2DE3;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 55px;
	transition: all 0.2s ease 0s;
	&:hover {
		background: #5D2DE3;
	}
}
.price__quote {
	font-weight: bold;
	font-size: 22px;
	line-height: 130%;
	letter-spacing: 0.02em;
	margin-top: 70px;
	max-width: 519px;
}
.price__autor {
	font-size: 16px;
	line-height: 130%;
	margin-top: 11px;
	color: #9F9F9F;
}

/*----------------- Контакты ------------------*/
.footer {
	padding: 60px 0 40px;
}
.footer__body {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 60px;
}
.footer__title {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 65px;
}
.footer__contacts {
	margin-right: 12%;
	margin-bottom: 50px;
}
.footer__label {
	font-size: 20px;
	line-height: 20px;
	color: #9F9F9F;
	margin-bottom: 18px;
}
.footer__phone a {
	display: block;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 40px;
}
.footer__social {
	display: flex;
}
.icon-social:not(:last-child) {
	margin-right: 30px;
}
.form__title {
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 30px;
}
.footer__form {
	max-width: 800px;
}
.form__wrapper {
 display: flex;
 flex-wrap: wrap;
}
.form__item {
	margin-right: 35px;
	margin-bottom: 30px;
}
.form__input {
	font-size: 16px;
	line-height: 20px;
	color: #9F9F9F;
	text-align: center;
	background: rgba(93, 45, 227, 0.05);
	border: 1px solid #5D2DE3;
	border-radius: 30px;
	padding: 18px 31px;
	width: 310px;
}
[type="date"] {
	background: rgba(93, 45, 227, 0.05) url(../img/svg_icons/calendar-date.svg) 87% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="time"] {
	background: rgba(93, 45, 227, 0.05) url(../img/svg_icons/clock.svg) 87% 50% no-repeat;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.footer__span {
	display: block;
	font-size: 14px;
	line-height: 130%;
	color: #9F9F9F;
	margin-bottom: 30px;
	max-width: 390px;
}
.submit {
	display: inline-block;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(137deg, rgb(74, 41, 165) 0%, rgba(98,52,227,1) 100%);
	border: 1px solid #6234E3;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 17px 79px;
	transition: all 0.2s ease 0s;
		&:hover {
			background: linear-gradient(137deg, rgb(64, 35, 145) 0%, rgb(87, 46, 201) 100%);
			box-shadow: 0px 3px 15px rgba(93, 45, 227, 0.3);
		}
}
.copyright__footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 40px;
	border-top: 1px solid #5D2DE3;
}
.footer__left-text,.footer__right-text {
	font-size: 18px;
	line-height: 20px;
	color: #9F9F9F;
}
.footer__right-text a {
	font-size: 18px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #fff;
	margin-left: 10px;
	&:hover {
		color: #5D2DE3;
	}
}


/*===================================== Модальные формы ============================================*/ 
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #00000070;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	opacity: 1;
	transform: translate(0px, 0px);
}
.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	max-width: 450px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(-100%, 0px);
}
.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 15px;
	height: 15px;
}
.top-form__body {
	border: 1px solid #6234E3;
	background: linear-gradient(270deg, #000000 0%, #00011E 100%);
	text-align: center;
	padding: 30px;
}
.top-form__title {
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 30px;
}
.top-form__wrapper {
 display: flex;
 flex-direction: column;
}
.top-form__item {
	margin-bottom: 30px;
}
.top-form__input {
	font-size: 16px;
	line-height: 20px;
	color: #9F9F9F;
	text-align: center;
	background: rgba(93, 45, 227, 0.05);
	border: 1px solid #5D2DE3;
	border-radius: 30px;
	padding: 18px 31px;
	width: 310px;
}
[type="date"] {
	background: rgba(93, 45, 227, 0.05) url(../img/svg_icons/calendar-date.svg) 87% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="time"] {
	background: rgba(93, 45, 227, 0.05) url(../img/svg_icons/clock.svg) 87% 50% no-repeat;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.top-form__span {
	display: block;
	font-size: 14px;
	line-height: 130%;
	color: #9F9F9F;
	margin-bottom: 30px;
	max-width: 340px;
}
.top-submit {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(137deg, rgb(74, 41, 165) 0%, rgba(98,52,227,1) 100%);
	border: 1px solid #6234E3;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 17px 98px;
		&:hover {
			background: linear-gradient(137deg, rgb(64, 35, 145) 0%, rgb(87, 46, 201) 100%);
			box-shadow: 0px 3px 15px rgba(93, 45, 227, 0.3);
		}
}







/*------------------------------ Media query ------------------------------------------*/
@media screen and (max-width: 1190px) {
	.price__title {
		text-align: center;
  }
	.price__body {
		justify-content: space-around;
  }
  .price__item {
	padding: 30px;
	}
}
@media screen and (max-width: 992px) {
	.about__description {
    margin-left: 20px;
    margin-top: 1%;
	}
	.about__title {
    line-height: 28px;
    margin-bottom: 35px;
	}
	.about__list {
    margin-bottom: 50px;
	}
	.specialization__title {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 50px;
	}
	.specialization__list li {
    font-size: 17px;
	}
	.principles__item {
		flex: 1 1 50%;
	}
}
@media screen and (max-width: 880px) {
	.menu__list > li {
		margin: 0px 0px 0px 10px;
	 }
	.about__list li {
  	font-size: 16px;	
	}
	.btn {
		font-size: 18px;
		padding: 16px 44px;
	}
}
@media screen and (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding:  10px 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media screen and (max-width: 767px) {
	.menu__icon {
		display: block;
		z-index: 5;
		position: relative;
		width: 40px;
		height: 10px;
		cursor: pointer;
	}
	.menu__icon::before, 
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before, 
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after  {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span  {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before  {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after  {
		top: 50%;
		transform: rotate(45deg) translate(0px, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -110%;
		width: 100%;
		height: 100%;
		background: rgb(0,1,31);
		background: linear-gradient(90deg, rgba(0,1,31,1) 0%, rgba(0,0,0,1) 100%);
		padding: 100px 30px 30px 0px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background: rgb(0,1,31);
		background: linear-gradient(90deg, rgba(0,1,31,1) 0%, rgba(0,0,0,1) 100%);
		z-index: 2;
	}
	.menu__list {
		margin-top: 10%;
		flex-direction: column;
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
		font-size: 26px;
		line-height: 130%;
	}
	.about__body {
    flex-wrap: wrap;
	}
	.about__photo img {
		padding: 0px 20px 30px;
	}
}

@media screen and (max-width: 580px) {
	.hero__section {
    background: url(../img/main-bg.jpg) no-repeat top center/cover;
	}
	.hero__offer{
		padding: 40px 0 40px;
		.hero-title {
			font-size: 50px;
		}
		.text {
			margin-left: 0;
		}
		.btn {
			margin-left: 0;
			font-size: 16px;
			padding: 17px 32px;
		}
	}
	.hero__social {
		position: relative;
		justify-content: start;
	}
	.icon-arrow:before {
    margin-left: 10px;
	}
	.specialization__body {
		flex-wrap: wrap;
	}
	.specialization__images {
    margin-top: 100px;
	}
	.specialization__list {
    margin-bottom: 35px;
	}
	.principles__item {
		flex: 1 1 100%;
	}
	.price__wrapper {
		text-align: center;
		.price__quote {
			padding: 0 5px;
		}
	}
	.footer {
    margin: 0 auto;
		text-align: center;
}
	.form__item {
		margin: 0 auto 30px;
	}
	.footer__form {
    text-align: center;
	}
	.footer__contacts {
    margin-right: 0;
    margin: 0 auto 50px;
}
	.footer__left-text {
    margin-bottom: 20px;
	}
	.copyright__footer {
    justify-content: center;
	}
}
@media screen and (max-width: 420px) {
	.popup__content {
		margin-top: 80px;
	}
	.top-form__body {
    padding: 30px 20px;
	}
	.top-form__input {
    padding: 15px;
    width: 300px;
	}
	.top-form__item {
    margin-bottom: 20px;
	}
}





